.navy{
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.navy .title h2{
    font-size: 25px;
    padding: 0;
    margin: 0;
}
.title{
    text-align: center;
}
.navy .title p{
    font-size: 15px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}
/* .navy p{
    font-size: 20px;
    padding: 0;
    margin: 0;
} */

.quesType{
    font-size: 18px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px !important;
}
.question span{
    margin-left: 10px !important;
}

/* loading-overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* semi-transparent white background */
    z-index: 9999; /* ensure the overlay appears on top of other content */
    display: none; /* initially hidden */
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db; /* blue color for the spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* spin animation */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
